body
{
    background-image: url(bg.png);
    color: white;
    height: 750px;
    margin:0px;
}


.karte
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    top: 175px;
}

.papier
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin: 0px;
}

.deko
{
    position: absolute;
    width: 600px;
    height: 400px;
}

.busch 
{
    position: absolute;
    left: -70px;
    top: -60px;
}

.pinguin 
{
    position: absolute;
    position: absolute;
    right: -15px;
    bottom: -15px;

}

.text
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:absolute;
    width: 450px;
    height: 300px;
}

h1
{
        font-size: 300%;
}

h2
{
        font-size: 150%;
}

h3
{
    font-size: 60%;
}