body
{
    background-image: url(bg.png);
    color: white;
}


#karte
{
    position: relative;
}
.papier
{
    
    padding-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.busch 
{
    position: absolute;
    top:120px;
    left:570px;
}

.pinguin 
{
    position: absolute;
    top:420px;
    right:650px;

}

.text
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:absolute;
    top:220px;
    left:710px;
}

h1
{
        font-size: 300%;
}

h2
{
        font-size: 150%;
}

h3
{
    font-size: 60%;
}